.sign-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
 }
 .si-left {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #36d65e;
     min-height: 100dvh;
 }
 .sill {
     width: 60%;
     display: flex;
     flex-direction: column;
     gap: 1em;
 }
 .si-right {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .sir-body {
     width: 40%;
     display: flex;
     flex-direction: column;
     gap: 1em;
 }
 